/nbproject/private/
**/build/
**/dist/
/resources/.version
*.apk
*.ap_
*.dex
*.class
bin/
/android/gen/
local.properties
.classpath
.project
proguard/
.idea/**
.gradle/**
**/*.iml
**/release/**
out/**
/ios/robovm-build/**
.DS_Store
keystore.properties
